#intro {
  text-align: center;
  z-index: 10;
}

html,
body {
  margin: 0;
  padding: 0;
  height: windowHeight;
  overflow: hidden;
}

canvas {
  display: block;
}


body {
  background: white;
  font-family: 'RelayFun', sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

#intro {
  text-align: center;
  z-index: 10;
}

.title {
  font-size: 64 px;
  position: fixed;
  top: 250 px;
  left: 690 px;
  z-index: 10;
}

.subtitle {
  font-size: 28 px;
  position: fixed;
  top: 340 px;
  left: 600 px;
  margin-top: 60 px;
}

#startBtn {
  width: 1000 px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2 s ease;
  position: fixed;
  top: 250 px;
  left: 330 px;
}

#startBtn:hover {
  transform: scale (1.1);
}
