#intro {
  text-align: center;
  z-index: 10;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

body {
  background: white;
  font-family: "RelayFun", sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
}

#intro {
  text-align: center;
  z-index: 10;
}

.title {
  font-size: 64px;
  position: center;
  margin-top: 100px;
  z-index: 10;
}

.subtitle {
  font-size: 28px;
  position: center;
  margin-top: 60px;
}

#startBtn {
  width: 1000px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
  position: center;
}

#startBtn:hover {
  transform: scale(1.1);
}

